
<header>
    <h1>My Reading List</h1>
</header>
<div = "container-fluid">
    <div = "row">
        <div ="col-4">
            <h2>To Read</h2>
        </div>
        <div ="col-4">
            <form>

            </form>
        </div>
        <div = "col-4">
            <h2>Read</h2>
        </div>
    </div>
</div>

